*.egg-info
*.exe
*.fid
*.h5
*.ipynb
*.o
*.log
*.npz
*.png
*.pyc
*.swo
*.swp
*.txt
*ppg*.py
*wrap.c
2D_MRI.py
SpinCore_pp/data_files.log
tags
Instruments/tags
ipynb/auto_figures/
ipynb/auto_figures/noiseexample_noise_1.pdf
ipynb/auto_figures/noiseexample_noise_1.svg
